
/* Header */

body {
  font-family: Roboto, sans-serif;
  background-color: #F7F7F7;
  margin: 0;
}

header {
    display: flex;
    border-bottom: solid black 1px;
    flex-direction: flex-start;
    align-items: center;
    padding: 40px 40px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
  height: 50px;
}

.header-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.text-header {
  font-weight: bold;
  padding-left: 20px;
}

.icon-location, .icon-delivery { 
  width: auto;
  height: 30px;
}

.sort-button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  background-color:black;
  border-radius:10px;
  padding:5px;
  text-transform: uppercase;
  margin:5px;
}

.buttons-wrapper{
  display:flex;
  justify-content:center;
  padding-top: 40px;
}

/* Filter function */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.filter-title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* Restaurants */

.restaurant-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.restaurant-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.restaurant-image {
  width: 400px;
}

h3 {
  font-weight: 700;
  margin-top: 10px;
}

.restaurant-text {
  padding: 3px;
  margin: 0px;
}

.restaurant-rating-wrapper {
  display:flex;
  justify-content: left;
  align-items: center;
}

.icon-rating {
  width: 15px;
  height: 100%;
  margin: 10px;
}